html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #2a2f3d;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.movie-posters {
  width: 200px;
  height: 450px;
}
