.createamovie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30vh;
}

.create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-container3 {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
}
