#footer-container {
  display: flex;
  position: absolute;
  justify-content: center;
  /* padding: 1rem; */
  bottom: 0;
  width: 100%;

  /* z-index: -1; */
}

.footer-links {
}

.footer-item {
  list-style-type: none;
}

.image-link {
  width: 50px;
  height: auto;
  margin: 10px;
}
