.poster-scroll {
  display: flex;
  overflow-x: scroll;
  /* padding: 150px 0; */
  scroll-behavior: smooth;
  height: 40vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.cards {
  display: flex;
  justify-content: center;
}

.card {
  padding: 0 2px;
  transition: 250ms all;
}

.card:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.form-container {
  justify-content: center;
}

.card-image {
  width: 300px;
  height: 400px;
}

@media only screen and (max-width: 500px) {
  .poster-scroll {
    display: flex;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 75%;
  }
}
