@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

.poster-scroll2 {
  display: flex;
  overflow-x: scroll;
  padding: 150px 0;
  scroll-behavior: smooth;
  height: 40vh;
  margin-top: 9vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.cards2 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card2 {
  padding: 0 5px;
  transition: 250ms all;
  justify-content: center;
}

.card2:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.form-container2 {
  justify-content: center;
}

.toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  color: #ffffff;
}

.delete {
  display: flex;
  justify-content: center;
}

.card-image2 {
  width: 300px;
  height: 400px;
}

@media only screen and (max-width: 375px) {
  .poster-scroll2 {
    display: flex;
    overflow-y: scroll;
    text-align: center;
    scroll-behavior: smooth;
    height: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .poster-scroll2 {
    display: flex;
    overflow-y: scroll;
    text-align: center;
    scroll-behavior: smooth;
    height: 75%;
  }
}
